.Select {
	font-size: 0.8em;
	height: 35px;
}

.Select div {
	text-align: center;
	position: relative;
	float: left;
	padding: 5px 5px 5px 10px;
	border-top: 0px;
	font-weight: bold;
	border-right: 1px solid #C8C7CC;
	border-bottom: 1px solid #C8C7CC;
	padding: 1% 3%;
}

.SelectActive {	
	-webkit-border-bottom-left-radius: 25px;
}

.active{
	background: dodgerblue;
	color: white;
}

.Notactive{
	color: #000000;
	background: #EEEEEE;
}

.SelectNoActive {	
	-webkit-border-bottom-right-radius: 25px;
}

.UserName {
	width: 75%;
	height: 30px;
	color: #000000;
	position: relative;
	float: left;
}

.UserName p {
	color: #000000;
	font-size: 18px;
	line-height: 30px;
}

.UserName label{
	display: none;
}

.xian {
	height: 30px;
	width: 25%;
	border-left: 1px solid #DDDDDD;
	position: relative;
	float: left;
}

#Imgl {
	width: 30%;
	height: 100%;
	margin-left: 10%;
}

#switch {
	position: relative;
	background: #8F8F94;
	width: 60%;
	height: 30px;
	border-radius: 5px;
	float: right;
}

#switch div {
	float: left;
	width: 33%;
	text-align: center;
	line-height: 30px;
	color: white;
}

#check {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #EEEEEE;
	border-radius: 5px;
	margin: 2px;
	color: #000000;
	width: 33%;
	height: 25px;
	line-height: 25px;
	text-align: center;
}


.mui-input-row input {
	text-align: right;
}

.mui-input-row .label1 {
	width: 35%;
}

.mui-input-row .input1 {
	width: 53%;
	float: left;
	text-align: right;
}

.mui-input-row .label2 {
	width: 10%;
	float: right;
	line-height: 40px;
	padding: 0;
	margin-right: 2%;
}

.mui-input-row span {
	line-height: 40px;
	font-size: 0.8em;
	text-align: right;
	display: block;
	width: 55%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.address {
	width: 100%;
}

.address label {
	width: 35%;
	float: left;
	line-height: 80px;
	text-align: left;
	margin-left: 15px;
}

.addressDiv {
	width: 60%;
	float: left;
}

.form1 .remark {
	height: 65px;
}
.form1:before{
	height: 0;
}
.form1:after {
	height: 0;
}

#confirm {
	line-height: 48px;
}

#otherContent input {
	text-align: left;
}

.hideLabel {
	display: none;
}