*{
	margin: 0;
	padding : 0;
}
.table-view {
	width: 100%;
	padding: 10px 10px;
	border-bottom: 1px solid lightgray;
	text-align: center;
	overflow: hidden;
}

.table-view label {
	display: block;
	float: left;
	height: 30px;
	width: 25%;	
	line-height: 30px;
}

.table-view input {
	width: 90%;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	height: 25px;
}

.table-view .table-btn {
	width: 90%;
	height: 35px;
	border: 1px solid cornflowerblue;
	background: cornflowerblue;
	border-radius: 10px;
	display: block;
	color: whitesmoke;
	line-height: 35px;
	font-size: 1.2em;
	margin: 0 auto;
}

.table-view .stage {
	width : 70%;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	float: right;
	margin-right: 5%;
	background: darkgrey;
}

.table-view .drag {
	height: 26px;
	line-height: 26px;
	background: #DCDCDC;
	position: absolute;
	border-radius: 5px;
	top: 2px;
	left: 2px;
	font-size: 0.7em;
}

.table-view .dragVal {
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	color: white;
	font-size: 0.7em;
}