
@font-face {font-family: "iconfont";

  src:url('../fonts/index.ttf') format('truetype');/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-20140609102112349easyiconnet:before { content: "\e602"; }

.icon-e617:before { content: "\e600"; }

.icon-shouyeshouye:before { content: "\e60a"; }

.icon-kaiguan:before { content: "\e61e"; }

.icon-xinfengpsd:before { content: "\e630"; }

.icon-jihua:before { content: "\e639"; }

.icon-richeng:before { content: "\e601"; }

.icon-gongju:before { content: "\e63a"; }

.icon-yinxing:before { content: "\e64d"; }

.icon-baoquancaiwu:before { content: "\e632"; }

.icon-lipeiguanli:before { content: "\e6e9"; }

.icon-baojiakaidan:before { content: "\e623"; }

.icon-sanheng:before { content: "\e675"; }

.icon-kehu:before { content: "\e6f3"; }

