#head {
	background-color:  #6495ED;
	margin: 0;
}

#head p {
	line-height: 45px;
	color: white;
	font-size: 18px;
}

#head a {
	color: white;
	line-height: 45px;
}

#head .Aicon{
	line-height: 25px;
}

#head span {
	color: white;
	line-height: 45px;
}

#head h1 {
	color: white;
	font-weight: bold;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 0;
	background: #efeff4;
}
.mui-input-group{
	background: #efeff4;
	font-size: 1em;
}
.mui-input-group a{
	color: #000000;
}

.mui-input-row label{
	font-size: 0.8em;
}

.Detail{
	width: 45%;
	height: 40px;
	text-align: right;
	display: block;
	padding: 0 15px;
	font-size: 0.8em;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
