#head {
	background-color:  #6495ED;
	margin: 0;
}

#head p {
	line-height: 45px;
	color: white;
	font-size: 18px;
}

#head a {
	color: white;
}

#head span {
	color: white;
}

#head h1 {
	color: white;
	font-weight: bold;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 0;
	background: #efeff4;
}
.mui-input-group{
	background: #efeff4;
	font-size: 1em;
}
.mui-input-group a{
	color: #000000;
}
