<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/yixingxiao.css" />
		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/yixingxiao.js" ></script>
	</head>

	<body>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable">
			<!-- 菜单容器 -->
			<aside class="mui-off-canvas-left">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<header class="mui-bar mui-bar-nav aside-head">
							<span class="mui-pull-left">2017年</span>
							<a class="mui-icon  mui-icon-gear mui-pull-right"></a>
						</header>
						<div class="mui-content content" id="asideList">
							<ul class="aside-list">
								<li v-for="(x,y) in content"><span class="mui-icon iconfont  aside-icon" :class="icons[y]"></span><span class="icon-font">{{x}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</aside>
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">`
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav" id="head">
					<a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left Aicon"></a>
					<h1 class="mui-title">易行销</h1>
					<a class="mui-icon icon-kaiguan iconfont mui-pull-right Aicon"></a>
				</header>
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll" id="index">
						<!-- 主界面具体展示内容 -->
						<list-componets v-for="(x,y) in titles" :ids="ids[y]" :title="titles[y]" :features="features[y]" :icon="icons[y]"></list-componets>
					
					</div>
					
				</div>
			</div>
		</div>

		<template id="listComponent">
			<ul class="List active-list">
				<li class="title">
					<p v-html="title"></p>
				</li>
				<li v-for="(x,y) in features" :id="ids[y]">
					<span class="mui-icon iconfont" :class="icon[y]"></span>
					<p>{{x}}</p>
				</li>
			</ul>
		</template>
	</body>
	<script>
		window.onload = function() {
			var index = new Vue({
				el: "#index",
				data: {
					titles: ['活<br />动', '渠<br />道', '自<br />助'],
					features: [
						['客户', '计划', '日程'],
						['银行', '中介', '综拓'],
						['保全', '理赔']
					],
					icons: [
								[{
									"icon-kehu": true,
									"iconfont-sky": true
								}, {
									"icon-jihua": true,
									"iconfont-deepSky": true
								}, {
									"icon-richeng": true,
									"iconfont-sky": true
								}],
								[{
									"icon-yinxing": true,
									"iconfont-sky": true
								}, {
									"icon-20140609102112349easyiconnet": true,
									"iconfont-deepSky": true
								}, {
									"icon-e617": true,
									"iconfont-sky": true
								}],
								[{
									"icon-baoquancaiwu": true,
									"iconfont-sky": true
								}, {
									"icon-lipeiguanli": true,
									"iconfont-deepSky": true
								}, ]

						],
				ids : [
					['customer','plan','schedule'],
					['bank','intermediary','expand'],
					['rescue','claims']
				]

				},
				components: {
					'list-componets': {
						props: ['title', 'features', 'icon', 'ids'],
						template: "#listComponent"
					}
				}
			});
			
			var asideList = new Vue({
				el : "#asideList",
				data : {
					content : ['首页','客户','计划','日程','银行','中介','综拓','保全','理赔','报价','通知','工具'],
				    icons : ['icon-shouyeshouye','icon-kehu','icon-jihua','icon-richeng','icon-yinxing','icon-20140609102112349easyiconnet',
				'icon-e617','icon-baoquancaiwu','icon-lipeiguanli','icon-baojiakaidan','icon-xinfengpsd','icon-gongju']
				},
			});
			
			var customer = document.getElementById("customer");
			setEvent(customer,'tap',function(){
				mui.openWindow('customer/customer.html','customer');
			})
		}
	</script>

</html>